@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 2rem 1.125rem 1rem 1.125rem;
}

/* STRUCTURE*/

.structure {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "content"
        "footer";
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;

}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/*** HEADER ***/
h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4E5150;
}

/*** ASIDE ***/
/* Structure ASIDE*/
.product-set-aside {
    display: grid;
    grid-template-columns: max-content auto;

    column-gap: 1.125rem;
    row-gap: 1.75rem;
    background-color: #F2F2F2;
    padding: 1.875rem;
    border-radius: 0.75rem;
}

.price {
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 1rem;
    column-gap: 0.8rem;
    margin-bottom: 1.875rem;

    p {
        margin: 0;
    }
}

.title-description {
    grid-column-start: 1;
    grid-column-end: 3;
}

.border-amount {
    display: inline-block;
    border: 1px solid #828282;
    border-radius: 0.75rem;
    padding: 0.75rem;
}

.amount {
    display: grid;
    grid-template-columns: max-content auto max-content;
    justify-items: center;

    p {
        padding: 0 1rem;
        margin: 0;
    }

    span {
        background: #E0E0E0;
        border-radius: 0.25rem;
    }
}

.information-price-aside {
    grid-column-start: 1;
    grid-column-end: 3;


    p {
        font-size: 0.875rem;
        font-weight: 600;
        color: #333333;
        display: inline;
        margin: 0;
    }
}

/* Template ASIDE*/

.photo-product-aside img {
    max-width: 8.5rem;
    max-height: 8.5rem;
    border-radius: 0.75rem;
}

.title-description {
    font-size: 0.75rem;
    font-weight: 600;
    color: #4E5150;
}

.new-price {
    font-size: 0.875rem;
    font-weight: 600;
    color: #F2994A;
}

.old-price {
    font-size: 0.875rem;
    font-weight: 600;
    color: #4E5150;
}

.information-price p:nth-of-type(2) {
    float: right;
}



/*** CONTENT ***/
/* Simbolos input CONTENT*/

h2 {
    font-size: 0.875rem;
    font-weight: 600;
    color: #333333;
}

label {
    font-size: 0.625rem;
    font-weight: 600;
    color: #333333;

}

.input {
    width: calc(100% - 76px);
    font-size: 0.75rem;
    color: #828282;
    margin-bottom: 1rem;
    padding: 0.75rem 2.5rem;
    border-width: 0.0625rem;
    border-color: #828282;
    border-radius: 0.75rem;


}

.input-select {
    width: 100%;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}


.label {
    display: block;
    position: relative;
    margin-bottom: 0.375rem;
}

/* Icons */
.icon:before {
    font-family: 'Material Icons';
    font-size: 1rem;
    color: #828282;
    position: absolute;
    margin-left: 0.875rem;
    margin-top: 1.875rem;
}

.email:before {
    content: "email";
}

.phone:before {
    content: "phone";
}

.name:before {
    content: "account_circle";
}

.address:before {
    content: "home";
}

.city:before {
    content: "apartment";
}

.country:before {
    content: "public";
}

.postal-code::before {
    content: "markunread_mailbox";
}


/* -------- */

.country-code-postal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.save-information-label {
    display: flex;
    margin-bottom: 1.25rem;
    align-items: center;

}

.btn-continue {
    background: #F2994A;
    padding: 1rem 2.8125rem;
    border-style: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    float: right;

}



/*** FOOTER ***/
.copyright-create {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #BDBDBD;
    text-align: center;

}



/*** MATERIAL DESIGN GOOGLE ***/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@media (min-width: 700px) {
    html {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.125rem;
        padding-right: 1.125rem;
        max-width: 960px;
    }

    .structure {
        display: grid;
        grid-template-areas:
            "header header""content aside""footer footer";
        column-gap: 5rem;
    }

    /*** HEADER ***/
    h1 {
        font-size: 2.25rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    /*** ASIDE ***/
    .title-description {
        font-size: 1rem;
    }

    .new-price {
        font-size: 1rem;
    }

    .information-price-aside p {
        font-size: 1.125rem;
    }

    /*** CONTENT ***/
    h2 {
        font-size: 1.125rem;
    }

    label {
        font-size: 0.75rem;
    }

    .input {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    /* Icons */
    .icon:before {
        font-family: 'Material Icons';
        font-size: 1.2rem;
        color: #828282;
        position: absolute;
        margin-left: 0.875rem;
        margin-top: 2.125rem;
    }

    /* ---- */
}